{% extends "hrms/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
		<div class="card-body">
			<a href="{% url 'company-show'%}" class="btn btn-warning">Go back</a>
			<!-- <a href="{% url 'company-rates' company_id %}" class="btn btn-warning">Company Rates</a> -->
			<a href="{% url 'company-gov-deducts' company_id %}" class="btn btn-warning">Gov. Deductions</a>
			<a href="{% url 'company-other-options' company_id %}" class="btn btn-warning">Activate Other Options</a>
			<a href="{% url 'print-employees' company_id %}" class="btn btn-warning">Print Employees</a>
		</div>
</div>
	<div class="card">
		<div class="card-body">
	<!-- 		<form action='{% url "company-delete" company_id %}' method="POST">
				{% csrf_token %}
			<button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this company?');">Delete</button>
			</form>
 -->
			<div class="row">
				<div class="col example-grid-col">
				</div>
				<div class="col-7 example-grid-col">
	
	{% if "company-other-options" in request.path %}
	    
		<h2>Note: if Ecola is not needed, set it to 0 value</h2>
	
	{% endif %}
					<form method="POST" novalidate="">
						<div class="form-group">
							{% csrf_token %}
							{{ form|crispy  }}
						</div>
						<button type="submit" class="btn btn-success"> Save</button>
					</form>
				</div>
				<div class="col example-grid-col">
				</div>
			</div>

		</div>

	</div>
{% endblock content %}
