{% extends "hrms/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
		<div class="card-body">
			{% include "employee/update_menu.html" %}
		</div>
</div>

	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col example-grid-col">
					{% if "update-record" in request.path %}
					<div class="pull-left">
					    <a href="{% url 'employee-records' pk %}" class="btn btn-info">Go Back</a>
					</div>
					{% endif %}
					
				</div>
				<div class="col-7 example-grid-col">
					<br>
					<form method="POST" novalidate="">
						<div class="form-group">
							{% csrf_token %}
							{{ form|crispy  }}

							{% if "employee-update" in request.path or "employee-add" in request.path %}
							   	 <div id="div_id_citizenship_option" class="form-group"> 
							   	 	<label for="id_citizenship_option" class="col-form-label  requiredField">
							   	                 Other citizenship<span class="asteriskField">*</span> 
							   	    	</label>



							   	     <div class=""> 
							   	     	<input type="text" name="citizenship_option" value="" class="textinput textInput form-control" required="" id="id_citizenship_option"> 
							   	     </div> 
							   	  </div>   
							   	
							{% endif %}
							
						</div>
						<button type="submit" class="btn btn-success"> Save</button>
					</form>
				</div>
				<div class="col example-grid-col">
				</div>
			</div>

		</div>

	</div>

  {% if may_records %}

  <div class="card">
		<div class="card-body">
			<div class="table-responsive" style="margin-top: 10px">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col" class="text-center">#</th>
							<th scope="col" class="text-center">From</th>
							<th scope="col" class="text-center">To</th>
							<th scope="col" class="text-center">Company</th>
							<th scope="col" class="text-center">Position</th>
							<th scope="col" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for records in may_records %}
							<tr>
								<th class="align-middle text-center" scope="row">{{ forloop.counter}}</th>
								<td class="align-middle text-center">{{ records.from_date }} </td>
								<td class="align-middle text-center">{{ records.to_date }}</td>
								<td class="align-middle text-center">{{ records.company }}</td>
								<td class="align-middle text-center">{{ records.position }}</td>
								<td class="align-middle text-center">
				  <a href="{% url 'update-record' records.pk %}" class="btn btn-info">Update</a>
                  <form style="display:inline" action="{% url 'emp-record-delete' records.pk records.employee_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this record?');" name="button" class="btn btn-danger">Delete</button>
                  </form>

								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
</div>
		</div>
	</div>

  {% endif %}


	{% if may_loan %}

	<div class="card">
		<div class="card-body">
			<div class="table-responsive" style="margin-top: 10px">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col" class="text-center">#</th>
							<th scope="col" class="text-center">Amount</th>
							<th scope="col" class="text-center">Rate to deduct</th>
							<th scope="col" class="text-center">Status</th>
							<th scope="col" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for loan in may_loan %}
							<tr>
								<th class="align-middle text-center" scope="row">{{ forloop.counter}}</th>
								<td class="align-middle text-center">{{ loan.load_amount }} </td>
								<td class="align-middle text-center">{{ loan.rate_to_deduct }}</td>
								<td class="align-middle text-center">
									{% if loan.status == False %}
									<span class="badge badge-danger mr-2 mb-1">Not Yet Paid</span>
									{% else %}
									<span class="badge badge-success mr-2 mb-1">Paid</span>
									{% endif %}
								</td>
								<td class="align-middle text-center">


							
									<a href="

									{% if kind == 'pagibig' %}
									    {% url 'employee-pagibigloan-contrib' loan.id pk %}
									{% elif kind == 'company' %}
									    
										{% url 'employee-comloan-contrib' loan.id pk %}
									{% endif %}
									

									" class="btn btn-info">View Contribution</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
	</div>
		</div>
	</div>

	{% endif %}


	{% if may_uniform %}

	<div class="card">
		<div class="card-body">
			<div class="table-responsive" style="margin-top: 10px">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col" class="text-center">#</th>
							<th scope="col" class="text-center">Amount</th>
							<th scope="col" class="text-center">Rate to deduct</th>
							<th scope="col" class="text-center">Status</th>
							<th scope="col" class="text-center">Date Created</th>
							<th scope="col" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for uni in may_uniform %}
							<tr>
								<th class="align-middle text-center" scope="row">{{ forloop.counter}}</th>
								<td class="align-middle text-center">{{ uni.amount }} </td>
								<td class="align-middle text-center">{{ uni.rate_to_deduct }} </td>
								<td class="align-middle text-center">
									{% if uni.status == False %}
									<span class="badge badge-danger mr-2 mb-1">Not Yet Paid</span>
									{% else %}
									<span class="badge badge-success mr-2 mb-1">Paid</span>
									{% endif %}
								</td>
								<td class="align-middle text-center">{{ uni.created_at }}</td>
								<td class="align-middle text-center">
									<a href="" class="btn btn-info">Delete</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
	</div>
		</div>
	</div>

	{% endif %}

{% if "employee-update" in request.path or "employee-add" in request.path %}
	<script>

	function Hide() {
	    if(document.getElementsByName('citizenship')[0].value == "Others") {
	         // document.getElementsByName('citizenship_option').style.display = 'none';
	         document.getElementById('div_id_citizenship_option').style.display = '';
	    } else {
	         // document.getElementsByName('id_list1').style.display = '';
	         document.getElementById('div_id_citizenship_option').style.display = 'none';
	    }
	}

	function HideSSS() {
	    if(document.getElementsByName('sss_option')[0].value == "bracket") {
	         // document.getElementsByName('citizenship_option').style.display = 'none';
	         document.getElementById('div_id_sss_bracket').style.display = '';
	    	 document.getElementById('div_id_sss_value').style.display = 'none';
	       
	    } else if (document.getElementsByName('sss_option')[0].value == "manual"){
	         // document.getElementsByName('id_list1').style.display = '';
	         document.getElementById('div_id_sss_bracket').style.display = 'none';
	   		 document.getElementById('div_id_sss_value').style.display = '';
	       
	    }else{
	    	 document.getElementById('div_id_sss_bracket').style.display = 'none';
	   		 document.getElementById('div_id_sss_value').style.display = 'none';
	       
	    }
	}

	function HideGovDeductions() {
	    if(document.getElementsByName('gov_deductions_to_implement')[0].value == "company_base_deductions") {
	         // document.getElementsByName('citizenship_option').style.display = 'none';
	         document.getElementById('div_id_sss_option').style.display = 'none';
	         document.getElementById('div_id_sss_bracket').style.display = 'none';
	         document.getElementById('div_id_sss_value').style.display = 'none';
	         document.getElementById('div_id_pagibig_value').style.display = 'none';
	         document.getElementById('div_id_philhealth_value').style.display = 'none';
	       
	    } else if(document.getElementsByName('gov_deductions_to_implement')[0].value == "employee_base_deductions") {
	         document.getElementById('div_id_sss_option').style.display = '';
	        // document.getElementById('div_id_sss_value').style.display = '';
	        document.getElementById('div_id_pagibig_value').style.display = '';
	        document.getElementById('div_id_philhealth_value').style.display = '';
	       
	    }else{
	    	document.getElementById('div_id_sss_option').style.display = 'none';
	        document.getElementById('div_id_sss_bracket').style.display = 'none';
	        document.getElementById('div_id_sss_value').style.display = 'none';
	        document.getElementById('div_id_pagibig_value').style.display = 'none';
	        document.getElementById('div_id_philhealth_value').style.display = 'none';
	       
	    }
	}

	window.onload = function() {
	    Hide()
	    HideSSS()
	    HideGovDeductions()
	};
	</script>
{% endif %}


{% endblock content %}
