{% if for_update %}
<div align="center" class="card-body">
  <a href="{% url 'employee-update' pk %}" class="btn btn-warning">Basic Info</a>
  <a href="{% url 'employee-upload-picture' pk %}" class="btn btn-warning">Upload Picture</a>
  <a href="{% url 'employee-preferences' pk %}" class="btn btn-warning">Char Preferences</a>
  <a href="{% url 'employee-records' pk %}" class="btn btn-warning">Record</a>
  <a href="{% url 'employee-hiring-details' pk %}" class="btn btn-warning">Hiring Details</a>
  <a href="{% url 'employee-resume' pk %}" class="btn btn-warning">Resume</a>
  <a href="{% url 'employee-sss-contrib' pk %}" class="btn btn-warning">SSS Cont.</a>
  <a href="{% url 'employee-pagibig-contrib' pk %}" class="btn btn-warning">PAGIBIG Cont.</a>
  <a href="{% url 'employee-philhealth-contrib' pk %}" class="btn btn-warning">PHILHEALTH Cont.</a>
  
  {% if employee.company.get_company_rates.activate_company_loan %}
    <a href="{% url 'employee-company-loan' pk %}" class="btn btn-warning">Company Loan</a>
  {% endif %}
  {% if employee.company.get_company_rates.activate_pagibig_loan %}
    <a href="{% url 'employee-pagibig-loan' pk %}" class="btn btn-warning">Pagibig Loan</a>
  {% endif %}

  {% if employee.company.get_company_rates.activate_sss_loan %}
    <a href="{% url 'employee-sss-loan' pk %}" class="btn btn-warning">SSS Loan</a>
  {% endif %}

  {% if employee.company.activate_uniform %}
    <a href="{% url 'employee-uniform' pk %}" class="btn btn-warning">Uniform</a>
  {% endif %}

  {% if employee.company.get_company_rates.activate_medical %}
    <a href="{% url 'employee-medical' pk %}" class="btn btn-warning">Medical</a>
  {% endif %}

  {% if employee.company.get_company_rates.activate_canteen %}
    <a href="{% url 'employee-canteen' pk %}" class="btn btn-warning">Canteen</a>
  {% endif %}

  {% if employee.company.get_company_rates.activate_gatepass %}
    <a href="{% url 'employee-gatepass' pk %}" class="btn btn-warning">Gatepass</a>
  {% endif %}

  {% if employee.company.get_company_rates.activate_vale %}
    <a href="{% url 'employee-vale' pk %}" class="btn btn-warning">Vale</a>
  {% endif %}

  <a href="{% url 'employee-acceptance' pk %}" class="btn btn-warning">Acceptance Letter</a>
  
  <a href="{% url 'employee-return-to-work' pk %}" class="btn btn-warning">Return to Work</a>

  <a href="{% url 'employee-clearance-form' pk %}" class="btn btn-warning">Clearance Form</a>

  <a href="{% url 'employee-leave-absence' pk %}" class="btn btn-warning">Leave Absence</a>
  <a href="{% url 'employee-endorsement-letter' pk %}" class="btn btn-warning">Endorsement Letter</a>
  <a href="{% url 'employee-requirements' pk %}" class="btn btn-warning">Requirements</a>
  <a href="{% url 'employee-memo' pk %}" class="btn btn-warning">Memo</a>

  <a href="{% url 'employee-data-movement' pk %}" class="btn btn-warning">Data Movement</a>

</div>
{% endif %}
